.security-checkup__recovery-emails-placholder {
	.form-section-heading,
	.security-checkup__recovery-email {
		@include placeholder();
	}
}

.security-checkup__recovery-emails {
	margin: 0px 0px 30px 0px;
}

.security-checkup__recovery-emails-list {
	margin: 0px;
	list-style: none;
}

.security-checkup__recovery-email-container {
	margin-bottom: 10px;
}

.security-checkup__recovery-email {
	font-style: italic;
	color: $gray;
}
